/* Webfont: HearingRounded */@font-face {
    font-family: 'HearingRounded';
    src: url('Hearing-Rounded.eot'); /* IE9 Compat Modes */
    src: url('Hearing-Rounded.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Hearing-Rounded.woff') format('woff'), /* Modern Browsers */
         url('Hearing-Rounded.woff2') format('woff2'), /* Modern Browsers */
         url('Hearing-Rounded.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

